<head>
    <meta name="viewport" content="width=device_width,initial_scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">

</head>

<body>
    <div class="container">
        <h2>Main</h2>
        <form action="/GenAI" method="post">
            <input type="submit" value="GenAI">
        </form>

        <form action="/SA" method="post">  #为了让数据post到SA这个服务器，区别开，不写就是当前url
            <form action="/SA" method="post">  
            <input type="submit" value="Sentiment Analysis">
        </form>

        <form action="/" method="post">
            <input type="submit" value="Exit">
        </form>
    </div>
</body>








